server:
  port: 8084

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5435/booking_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Service URLs
services:
  user: http://localhost:8081
  flight: http://localhost:8082
  hotel: http://localhost:8083
  notification: http://localhost:8086

management:
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
